.aws-btn {

--slider-height-percentage: 51%;
--slider-transition-duration: 200ms;
--organic-arrow-thickness: 9px;
--organic-arrow-border-radius: 30px;
--organic-arrow-height: 70px;
--organic-arrow-color: #ffffff;
--control-button-width: 9%;
--control-button-height: 25%;
--control-button-background: transparent;
--control-bullet-color: #f33d42;
--control-bullet-active-color: #cf3438;
--loader-bar-color: #851515;
--loader-bar-height: 6px;
}