<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>is-selected Flickity Option </title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700" rel="stylesheet">
  
  <link rel='stylesheet prefetch' href='https://unpkg.com/flickity@2/dist/flickity.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div class="slide--parent">
	<div class="parent--el">
		<div class="two--col">
			<div class="is-item has--img">
				<figure class="the-img">
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/602471/jake-ingle-168726%20copy.jpg" alt="">
				</figure>
			</div>
			<div class="is-item has--content">
				<div class="is-item--inner">
					<h1><span>EXPLORE</span></h1>
					<small>Escape The City</small>
					<hr>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quidem delectus laborum itaque alias, officiis laborum laborum illum voluptates est et voluptas?</p>
					<p>Sed quidem delectus laborum itaque laborum alias, officiis illum voluptates est et voluptas?</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quidem delectus laborum itaque alias, officiis illum voluptates est et voluptas?</p>
				</div>
			</div>
		</div>
	</div>

	<div class="parent--el">
		<div class="two--col">
			<div class="is-item has--img">
				<figure class="the-img">
					<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/602471/lee-campbell-512447%20copy.jpg" alt="">
				</figure>
			</div>
			<div class="is-item has--content">
				<div class="is-item--inner">
					<h1><span>GRAB COFFEE</span></h1>
					<small>Coffee Makes Everything Better</small>
					<hr>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quidem delectus laborum itaque alias, officiis laborum laborum illum voluptates est et voluptas?</p>
					<p>Sed quidem delectus laborum itaque laborum alias, officiis illum voluptates est et voluptas?</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quidem delectus laborum itaque alias, officiis illum voluptates est et voluptas?</p>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
